<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070016371716-6nt2mjbp0ev91ig9fhrrhquf0r3gtkes.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070016371716-6nt2mjbp0ev91ig9fhrrhquf0r3gtkes</string>
	<key>API_KEY</key>
	<string>AIzaSyAO711o8ibqDW1pkmUYnSP_1hZnR8hUBfo</string>
	<key>GCM_SENDER_ID</key>
	<string>1070016371716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>awaken.com.bankGeek</string>
	<key>PROJECT_ID</key>
	<string>danilo-bank-geek</string>
	<key>STORAGE_BUCKET</key>
	<string>danilo-bank-geek.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070016371716:ios:73666e7438fc3b2c62e951</string>
</dict>
</plist>